<div class="main-body">
  <section>
      <header>
        <h1 class="white-box">Daniel Burnside</h1>
        <span class="underline light-green darken-4"></span>
      </header>
      <div class="sub-header white-box">
        <h3>Software Developer</h3>
      </div>
    <div class='message-and-buttons'>
      <p class="white-box">
        "This is where I will write a little landing statment"
      </p>
      <div class="buttons">
        <button class="animated fadeInUp delay-3s hoverable">About Me</button>
        <button class="animated fadeInUp delay-2s hoverable">Projects</button>
        <button class="animated fadeInUp delay-1s hoverable">Contact Me</button>
      </div>
    </div>
    <img class="image-box animated fadeInLeft slower"  src="./../../../assets/artem-sapegin-199614-unsplash.jpg" alt="Computer Picture">
    <img class="background-image" src="./../../../assets/artem-sapegin-199614-unsplash.jpg" alt="Computer Picture">
  </section>
</div>